@mixin flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  @include flexCenter;
}

.main {
  padding: 5rem 0;
  flex: 1;
  @include flexCenter;
}
.message {
  padding: 0.5rem 0;
  @include flexCenter;
}

.diamondsweeperBoard {
  td {
    padding: 0;
    border: 1px solid black;
  }
}

.cell {
  height: 50px;
  width: 50px;
  background-size: 50px 50px;

  &.diamond {
    background-image: url(../../assets/diamond.png);
  }

  &.arrow {
    background-image: url(../../assets/arrow.png);
  }

  &.unknown {
    background-image: url(../../assets/question.png);
  }
}
